@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #000000;
}

.container {
    width: 500px;
    background-color: #111111;
    height: 100vh;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.search {
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.search input {
    width: 60%;
    background-color: #292929;
    border: none;
    color: white;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}

.search i {
    position: absolute;
    top: 8px;
    color: white;
    right: 100px;
}
input:focus {
    outline: none;
}

.boards {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    margin: 2rem 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.board {
    color: white;
    border: 1px solid white;
    padding: 2rem;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 100px;
}

.board:hover {
    transform: scale(0.98);
    cursor: pointer;
}

.icon-small {
    transition: color 0.5s ease;
}

.music {
    color: white;
}
